@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Oculta la barra de scroll en navegadores basados en Webkit */
}
  
.no-scrollbar {
    -ms-overflow-style: none; /* Oculta en Internet Explorer y Edge */
    scrollbar-width: none; /* Oculta en Firefox */
}